<!-- Liangyu Wang  980025288   -->

<%- include('partials/header') %>

<main>
	<div class="jumbotron">
	  <h1>Projects</h1>
	  <p>algorithmic trading</p>
	</div>
  </main>


<%- include('partials/footer') %>
    